body{
	background-color: pink;
	border: 10px dotted red;
}
h1, p{
	text-align: center;
}
img{
	width: 300px;
	margin: 10px;
}
img:hover{
	width: 350px;
}
nav{
	text-align: center;
	padding-top: 15px;
}
a{
	text-decoration: none;
}
header{
	background-color: white;
	height: 50px;
	margin: 5px;
}

footer{
	background-color: black;
	margin: 5px;
	bottom: 0;
}
.c1{
	float: left;
	display: inline-block;
	padding-left: 5%;
	color: white;
}
.c2{
	display: inline-block;
	padding-left: 30%;
	color: white;
}
.c3{
	float: right;
	display: inline-block;
	padding-right: 5%;
	color: white;
}
